{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
  <style media="screen">
    @media screen and (min-width: 1024px) {
        .d1{
        height: 700px;
          }
    }

    @media screen and (max-width: 800px) {
     .d1{
        height:700px;
       }
    }

    @media screen and (max-width: 600px) {
     .d1{
        height:650px;
       }
    }
  </style>
{% endblock %}

{% block content %}

<!-- Main Section -->

<div class="site-section"  data-aos="fade-up" data-aos-delay="200">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-md-8">

        <div class="row mb-2">
          <div class="col-12">
            <h2 class="site-section-heading text-center">Workshops</h2>
          </div>
        </div>
        {% if workshops %}
        <div class="row site-section">
          {% for workshop in workshops %}
          <div class="col-md-6 col-lg-6 col-xl-4 text-center d1">
            {% with workshop.main_image as main_image %}
            {% if main_image %}{% image main_image width-400 class="img-fluid w-80 mb-4" %}{% endif %}
            {% endwith %}
            <h2 class="text-black font-weight-light mb-4">{{ workshop.workshop_title }}</h2>
            <p>
              <p class="mb-4">{{ workshop.introduction|richtext|truncatewords_html:40 }}</p>
              <a href="{% pageurl workshop %}" class="btn btn-primary py-2 px-4 text-white">View</a>
            </p>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p class="text-center" style="padding-top: 20px;">NO WORKSHOPS YET</p>
        {% endif %}

      </div>

    </div>



  </div>
</div>
<!-- End of Main section -->

{% endblock %}
