{% extends "base2.html" %}

{% load static wagtailcore_tags  wagtailimages_tags %}

{% block extra_css %}
  <style media="screen">
    .site-footer {
      position: absolute;
    }
  </style>

{% endblock %}

{% block content %}
<div class="site-section" data-aos="fade">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="row mb-5">
          <div class="col-12 ">
            <h2 class="site-section-heading text-center">{{ page.thank_you_text | richtext }}</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


{% endblock %}
