{% extends "base2.html" %}
{% load static wagtailcore_tags widget_tweaks %}

{% block content %}
<div class="site-section" data-aos="fade">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="row mb-5">
          <div class="col-12 ">
            <h2 class="site-section-heading text-center">Book a workshop class</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-8 mb-5">


            <form action="{% pageurl page %}" method="POST">
                {% csrf_token %}

                {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}

                {% for field in form.visible_fields %}
                  <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class+="form-control" %}
                  </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary py-2 px-4 text-white" >Submit</button>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}
