{% extends "base.html" %}
{% load static %}

{% block content %}


  <!-- Main Section -->

  <div class="site-section"  data-aos="fade-up" data-aos-delay="200">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-md-8">

          <div class="row mb-2">
            <div class="col-12">
              <h2 class="site-section-heading text-center">Artists</h2>
            </div>
          </div>

          <div class="row site-section">
            <div class="col-md-6 col-lg-6 col-xl-4 text-left">
              <ul class="artists-list">
                <li id="artist1"><a href="#">Pratham Raj Bajracharya</a></li>
                <li id="artist2"><a href="#">Sapta Raj Bajracharya</a></li>
                <li id="artist3"><a href="#">Puspa Bajracharya</a></li>
              </ul>

            </div>
          </div>

        </div>

      </div>



    </div>
  </div>
  <!-- End of Main section -->

{% endblock %}
