{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
  <style media="screen">
    @media screen and (min-width: 1024px) {
        .d1{
        height: 700px;
          }
    }

    @media screen and (max-width: 800px) {
     .d1{
        height:700px;
       }
    }

    @media screen and (max-width: 600px) {
     .d1{
        height:650px;
       }
    }
  </style>
{% endblock %}

{% block content %}
<!-- Main Section -->

<div class="site-section"  data-aos="fade-up" data-aos-delay="200" style="padding-bottom: 0px;">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-md-10">

        <div class="row mb-2">
          <div class="col-12">
            <h2 class="site-section-heading text-center">Current</h2>
          </div>
        </div>

        <div class="row site-section">
          {% if current_exhibitions %}
          {% for exhibition in current_exhibitions %}
          <div class="col-md-6 col-lg-6 col-xl-4 text-center d1">
            {% image exhibition.featured_image width-400 class="img-fluid w-80 mb-4" %}
            <h2 class="text-black font-weight-light mb-4">{{ exhibition.exhibition_title }}</h2>
            <p class="mb-4">{{ exhibition.body|richtext|truncatewords_html:40 }}</p>
            <p>
              <a href="{% pageurl exhibition %}" class="btn btn-primary py-2 px-4 text-white">View</a>
            </p>
          </div>
          {% endfor %}
          {% else %}
          <p class="mx-auto">THERE ARE NO EXHIBITIONS HAPPENING CURRENTLY</p>
          {% endif %}
        </div>
      </div>
      </div>


    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
      <div class="col-md-10">

        <div class="row mb-2">
          <div class="col-12">
            <h2 class="site-section-heading text-center">Upcoming</h2>
          </div>
        </div>

        <div class="row site-section">
          {% if upcoming_exhibitions %}
          {% for exhibition in upcoming_exhibitions %}
          <div class="col-md-6 col-lg-6 col-xl-4 text-center d1">
            {% image exhibition.featured_image width-400 class="img-fluid w-80 mb-4" %}
            <h2 class="text-black font-weight-light mb-4">{{ exhibition.exhibition_title }}</h2>
            <p class="mb-4">{{ exhibition.body|richtext|truncatewords_html:40 }}</p>
            <p>
              <a href="{% pageurl exhibition %}" class="btn btn-primary py-2 px-4 text-white">View</a>
            </p>
          </div>
          {% endfor %}
          {% else %}
          <p class="mx-auto">NO UPCOMING EXHIBITIONS</p>
          {% endif %}
        </div>

      </div>

    </div>

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
      <div class="col-md-10">

        <div class="row mb-2">
          <div class="col-12">
            <h2 class="site-section-heading text-center">Past</h2>
          </div>
        </div>

        <div class="row site-section">
          {% if past_exhibitions %}
          {% for exhibition in past_exhibitions %}
          <div class="col-md-6 col-lg-6 col-xl-4 text-center d1">
            {% image exhibition.featured_image width-400 class="img-fluid w-80 mb-4" %}
            <h2 class="text-black font-weight-light mb-4">{{ exhibition.exhibition_title }}</h2>
            <p class="mb-4">{{ exhibition.body|richtext|truncatewords:40 }}</p>
            <p>
              <a href="{% pageurl exhibition %}" class="btn btn-primary py-2 px-4 text-white">View</a>
            </p>
          </div>
          {% endfor %}
          {% else %}
          <p class="mx-auto">NO EXHIBITION YET</p>
          {% endif %}
        </div>

      </div>
    </div>

  </div>
</div>

<!-- End of Main section -->
{% endblock %}
