{% extends "base2.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}

{% block extra_css %}
  <style media="screen">
    .drop-cap {
      font-size: 50px;
      line-height: 1.4em;
      font-weight: bold;
      vertical-align: middle;
      padding: 1 3px;
    }
  </style>
{% endblock %}

{% block content %}
  <!-- Main Section -->

  <div class="site-section" data-aos="fade-up" data-aos-delay="200">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-md-10">

          <div class="row">
            <div class="col-12">
              <h2 class="site-section-heading text-center">{{ page.exhibition_title }}</h2>
              {% with artists=page.artists.all %}
              {% if artists %}
              <ul class="text-center">
                {% for artist in artists %}
                <li style="display: inline; font-size: 30px;" class="text-black">
                  {{ artist.artist_name }}
                  {% if not forloop.last %}, {% endif %}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}
              <h5 class="text-center">{{ page.starting_date }} - {{ page.ending_date }}</h5>
            </div>
          </div>
          <div class="row site-section justify-content-center" style="padding-top: 20px; padding-bottom: 5px;">
            <div class="col-md-8 col-lg-8 col-xl-8">
              <div class="mb-4">
                {% image page.featured_image max-1000x360 class="img-fluid mx-auto d-block" %}
                <p class="text-center figure-caption">{{ page.featured_image_caption }}</p>
              </div>
              <hr>
                {{ page.body|richtext }}
                <hr>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-8">
              <h3 class="heading" style="">Photos: </h3>
              <div class="row" id="lightgallery">

                {% for item in page.gallery_images.all %}
                    {% image item.image max-1000x360 as tmp_image %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ tmp_image.url }}" data-sub-html="<p>{{ item.caption }}</p>">
                      <a href="#"><img src="{{ tmp_image.url }}" alt="{{ tmp_image.alt }}" class="img-fluid"></a>
                    </div>
                {% endfor %}

              </div>
            </div>
          </div>



        </div>
      </div>

    </div>
  </div>
  <!-- End of Main section -->


{% endblock %}
